#header {
	text-align: center;
	background-color: tan;
	margin-top: 0px;
	height:100px;
	padding-top: 50px;
	font-size: 50px;
}
#menu {
	display: inline;
	font-size: 30px;
	padding: 20px;
}
#aboutHeader {
	margin-top: 60px;
	background-image: url('internet.jpg');
	background-color: transparent;
	height: 600px;
	width: 1500px;
	margin-left: 195px;
	margin-right:195px;
}
#about {
	text-align: center;
}
#quote {
	text-align: center;
}
#aboutTable {
	margin-left: 600px;
	display: inline;
}
#personalTable {
	padding-bottom: 25px;
	font-size: 30px;
}
#aboutTable2 {
	margin-bottom: 30px;
	display: inline;
	margin-left: 400px;
}
#menu {
	background-color: rgb(30,144,255);
}
